<h1> Article Index </h1>
<%@articles.each do |article|%>
  <li>
    <%=link_to article.title, article_path(article)%>
  </li>
<%end%>
<h2><%=link_to "Create New Article", new_article_path, class: 'article_title'%></h2>
